<ion-view view-title="{{service.selectedTitle}}">
  
  <ion-content>
      <select ng-model="service.selectedFlight" ng-options="flight as flight.duration for flight in service.file.flights" ng-change="selectChanged(selectedFlight)"></select>
    
    <div ng-show="chartDataOptions.chartSeriesTypes.length > 2">
      <label ng-repeat="series in chartDataOptions.chartSeriesTypes">
        <input type="checkbox"
               value="{{series.axis.title}}"
               ng-model="series.selected"
               ng-click="seriesClicked(series)"> {{series.axis.title}}
      </label>
      <!--<span ng-repeat="series in chartDataOptions.chartSeriesTypes">{{series.axis.title}}</span>-->
    </div>
      
    <div class="grid-container">
        <figure id="myChart"></figure>
    </div>
  </ion-content>
</ion-view>
