<ion-view view-title="{{service.selectedTitle}}">
  
  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">Current Flight</div>
        <select ng-model="service.selectedFlight" ng-options="flight as (flight._id + 1) + '. ' + flight.duration for flight in service.file.flights" ng-change="selectChanged(selectedFlight)"></select>
      </label>
    </div>
    
    <div class="grid-container">
        <figure id="myChart"></figure>
    </div>
    
    <div ng-show="chartDataOptions.chartSeriesTypes.length > 2">
      <ul class="list">
        <li class="item item-toggle" ng-repeat="series in chartDataOptions.chartSeriesTypes">
          {{series.axis.title}}
          <label class="toggle">
            <input type="checkbox"
               value="{{series.axis.title}}"
               ng-model="series.selected"
               ng-click="seriesClicked(series)"> 
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
    </div>
    <div class="bar bar-footer bar-positive">
      <button class="button button-icon button-clear ion-share" ng-click="shareChart()"></button>
    </div>
  </ion-content>
</ion-view>
