<ion-view view-title="Telemetry File Information">
  <ion-content>

    <ion-list>
      <ion-item class="item-complex" ng-class="{'item-positive': flight == service.selectedFlight}" ng-repeat="flight in service.file.flights">
       <a class="item-content">
         <h2>{{$index + 1}}. {{flight.duration}}</h2>
         <div class="flightInfo">
           <label>Model Name: </label><span>{{flight.name}}</span>
           <label>Model #: </label><span>{{flight.modelNumber}}</span>
           <label>Model Type: </label><span>{{flight.modelType}}</span>
           <label>Bind Info: </label><span>{{flight.bindInfo}}</span>
         </div>
       </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
