<ion-view view-title="Telemetry Viewer For Android">
  <ion-content>
    <h1>Telemetry Viewer For Android<small>BETA</small></h1>
    <p>
      Welcome to the Telemetry Viewer for Android. This application will provide you the ability to view telemetry data output by Spektrum&reg; transmitters.
    </p>
    <p>
      You are currently using a BETA version of the application. Please see <a href="#" onclick="window.open('https://github.com/mikejr83/TelemetryReaderForAndroid', '_system');">the project homepage</a> for more information regarding the release of a full featured version. Please use the project homepage to submit bugs.
    </p>
    <p>To contact the lead developer please message <strong><a href="#" onclick="window.open('http://www.rcgroups.com/forums/member.php?u=485949', '_system');">mikejr83 at RCGroups</a></strong>.</p>
  </ion-content>
</ion-view>
