/* Empty. Add your own CSS if you like */
.scroll {
  height: 100%;
}

.grid-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-bottom: 100px;
}

.grid-container figure {
  height: 100%;
  width: 100%;
}
