<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.mikejr83.tlmtelemetrydecoder" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TLMTelemetryDecoder</name><js-module name="TLMTelemetryDecoder" src="www/TLMTelemetryDecoder.js"><clobbers target="cordova.plugins.TLMTelemetryDecoder" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="TLMTelemetryDecoder"><param name="android-package" value="com.mikejr83.tlmtelemetrydecoder.TLMTelemetryDecoder" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/TLMTelemetryDecoder.java" target-dir="src/com/mikejr83/tlmtelemetrydecoder/TLMTelemetryDecoder" /></platform></plugin>