<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.monstarmike.telemetry.plugins.sharing" version="1.0.0">
  <name>Telemetry Sharing</name>
  <description>Plugin used to share images</description>
  <license>GPL v2</license>

  <js-module src="www/sharing.js" name="sharing">
    <clobbers target="com.monstarmike.telemetry.plugins.sharing" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <source-file src="src/android/Sharing.java" target-dir="src/com/monstarmike/telemetry/plugins/sharing" />
    
    <config-file target="config.xml" parent="/*">
      <feature name="TLMDecoder">
        <param name="android-package" value="com.monstarmike.telemetry.plugins.Sharing" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
	  
    </config-file>
  </platform>
</plugin>
